<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/> <!-- //액티비티 형태로 띄울떄 다른앱 허용 퍼미션 -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>  <!--노티로 경고 팝업 띄울떄 -->

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TurtleNeckCheckgit"
        tools:targetApi="31">

        <activity
            tools:replace="android:label"
            android:label="@string/app_name"
            android:theme="@style/Theme.TurtleNeckCheckgit"
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WarningActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <service
            android:name=".service.PostureMonitoringService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="camera"
            tools:ignore="ForegroundServicePermission" />
    </application>

</manifest>